.HeaderWrapper {
  background: -moz-linear-gradient(0deg, #8256e9 0%, #a67bf2 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8256e9), color-stop(100%, #a67bf2));
  background: -webkit-linear-gradient(0deg, #8256e9 0%, #a67bf2 100%);
  background: -o-linear-gradient(0deg, #8256e9 0%, #a67bf2 100%);
  background: -ms-linear-gradient(0deg, #8256e9 0%, #a67bf2 100%);
  background: linear-gradient(90deg, #8256e9 0%, #a67bf2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#8256e9', endColorstr='#a67bf2',GradientType=1 );

  .Inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 531px;
    @media (max-width: 1024px) {
      height: 100%;
      padding: 90px 0 50px;
    }
    @media (max-width: 425px) {
      height: 100vh;
      padding: 0;
    }

    .Logo {
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-size: 61px;
      font-weight: bolder;
      position: relative;
      @media (max-width: 1024px) {
        font-size: 3em;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }

    .Header {
      @media (max-width: 1024px) {
        width: 100%;
      }

      .Info {
        margin-top: 40px;
        @media (max-width: 1024px) {
          margin-top: 2em;
        }

        &.Address {
          margin-top: 70px;
          @media (max-width: 1024px) {
            margin-top: 2em;
          }

          .Value {
            background: -moz-linear-gradient(0deg, #9871ee 0%, #a67ef0 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #9871ee), color-stop(100%, #a67ef0));
            background: -webkit-linear-gradient(0deg, #9871ee 0%, #a67ef0 100%);
            background: -o-linear-gradient(0deg, #9871ee 0%, #a67ef0 100%);
            background: -ms-linear-gradient(0deg, #9871ee 0%, #a67ef0 100%);
            background: linear-gradient(90deg, #9871ee 0%, #a67ef0 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#9871ee', endColorstr='#a67ef0',GradientType=1 );
            line-height: 70px;
            width: 600px;
            border-radius: 8px;
            margin-top: 13px;

            font-size: 16px;
            color: white;
            text-align: center;
            letter-spacing: 2.74px;
            box-shadow: 0 10px 20px rgba(132, 83, 243, 0.3);
            @media (max-width: 1024px) {
              line-height: 50px;
              width: 100%;
              max-width: 80%;
              margin: 13px 10% 0;
              font-size: 0.8em;
              padding: 0 10px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            @media (max-width: 425px) {
              max-width: 95%;
              margin: 13px 2.5% 0;
              letter-spacing: 2.74px;
              letter-spacing: 1.5px;
            }
          }
        }

        .Label {
          text-transform: uppercase;
          margin: 0;
          font-size: 12px;
          color: white;
          text-align: center;
          line-height: 14px;
          height: 14px;
        }

        &:not(.Address) {
          display: flex;
          justify-content: space-between;
          padding: 0 15px;
          @media (max-width: 1024px) {
            max-width: 80%;
            margin: 32px 10%;
          }
          @media (max-width: 425px) {
            max-width: 95%;
            margin: 13px 2.5% 0;
          }

          .SubInfo {
            .Label {
              text-align: left;
            }

            .Value {
              margin-top: 3px;
              font-size: 24px;
              color: white;
              text-align: left;
              line-height: 29px;
              @media (max-width: 1024px) {
                font-size: 1em;
              }
              @media (max-width: 425px) {
                font-size: 0.8em;
              }

              span {
                font-size: 70%;
              }

              select {
                -webkit-appearance: none;
                background: transparent;
                border: none;
                color: #5800ff;
              }
            }
          }
        }
      }
    }
  }
}
