.OrdersWrapper {
  background: rgba(246, 246, 246, 1.0);

  > div:not(.HeaderWrapper):not(.Loading) {
    max-width: 1180px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}

.Checking {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background: -moz-linear-gradient(0deg, #8256e9 0%, #a67bf2 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8256e9), color-stop(100%, #a67bf2));
  background: -webkit-linear-gradient(0deg, #8256e9 0%, #a67bf2 100%);
  background: -o-linear-gradient(0deg, #8256e9 0%, #a67bf2 100%);
  background: -ms-linear-gradient(0deg, #8256e9 0%, #a67bf2 100%);
  background: linear-gradient(90deg, #8256e9 0%, #a67bf2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#8256e9', endColorstr='#a67bf2',GradientType=1 );

  font-size: 34px;
  color: white;
  text-align: center;
  line-height: 100vh;
}

.introjs-tooltiptext {
  white-space: nowrap;
}
