.ListWrapper {
  display: block;
  position: relative;

  .Title {
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 20px;
    text-align: center;
    font-family: "SFProText-Bold", Helvetica, Arial, serif;
    font-size: 24px;
    color: rgba(0, 0, 0, .8);
    text-align: left;
    letter-spacing: 0.17px;
    line-height: 29px;
    padding: 0 40px;
    @media (max-width: 1024px) {
      margin-bottom: 10px;
    }
    @media (max-width: 425px) {
      padding: 0 0 0 15px;
      font-size: 1.2em;
    }

    i {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .ListsWrapper {
    position: relative;

    .Lists {
      max-height: 475px;
      overflow: auto;
      background: transparent;
      position: relative;
    }
  }

  .List {
    border: 1px solid #E6EAEE;
    border-radius: 3.4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 23px 40px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    display: flex;
    @media (max-width: 1024px) {
      padding: 5px 40px;
      margin-bottom: 5px;
    }
    @media (max-width: 425px) {
      padding: 5px 15px;
      margin-bottom: 3px;
    }

    &.Positions {
      .ListField {
        &.amount {
          width: 21%;
        }

        &.totalInterest {
          width: 26%;
        }

        &.term {
          width: 16%;
        }

        &.health {
          width: 21%;
        }

        &.status {
          width: 16%;
        }
        @media (max-width: 425px) {
          &.totalInterest {
            width: 33%;
          }

          &.term {
            width: 25%;
          }

          &.status {
            position: absolute;
            display: flex;
            top: 3px;
            right: 30px;
            width: auto;

            .Label {
              overflow: visible;
              margin-top: 6px;
              line-height: 14px;
            }

            .Data {
              overflow: visible;
              margin-top: 6px;
              line-height: 14px;
            }
          }
        }
      }
    }

    .ListField {
      display: inline-block;
      text-align: left;

      .Label {
        text-transform: uppercase;
        font-size: 12px;
        color: rgba(0, 0, 0, .3);
        line-height: 14px;
        padding-right: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: 1024px) {
          font-size: 0.8em;
        }
        @media (max-width: 436px) {
          font-size: 0.7em;
        }
      }

      .Data {
        margin-top: 5px;
        font-size: 14px;
        color: black;
        line-height: 22px;
        padding-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @media (max-width: 768px) {
          font-size: 0.7em;
        }

        span {
          font-size: 80%;
          opacity: 0.6;
        }

        .HealthBar {
          display: flex;
          justify-content: space-between;
          position: relative;
          padding-bottom: 12px;
          @media (max-width: 425px) {
            flex-direction: column;

            .BarPercent {
              font-size: 0.6em;
              text-align: center;
              line-height: 10px;
            }
          }

          .BarPercent {
            position: absolute;
            font-size: 80%;
            width: 100%;
            line-height: 100%;
            text-align: center;
            top: 11px;
          }

          .BarBase {
            background-color: rgba(0, 0, 0, 0.08);
            height: 4px;
            width: 100%;
            margin-top: 5px;
            border-radius: 2px;
            @media (max-width: 425px) {
              position: relative;
              top: -8px;
            }

            .Fill {
              height: 4px;
              background: red;
              border-radius: 2px;
            }
          }
        }
      }
    }

    .Actions {
      .dropdown {
        position: absolute;
        right: 0;
        top: 0;

        .btn-secondary,
        .btn-secondary:active,
        .btn-secondary:hover {
          background-image: url('../../assets/images/3-dot.png');
          background-color: transparent;
          border-color: transparent;
          box-shadow: none;
        }
      }

      .close,
      .three-dot {
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        right: 22px;
        top: 20px;
        @media (max-width: 1024px) {
          right: 15px;
          top: 15px;
        }
        @media (max-width: 425px) {
          right: 10px;
          top: 10px;
        }
      }

      .close {
        width: 12px;
        height: 12px;
        background-image: url('../../assets/images/Close.png');
        padding: 12px;
        margin-right: -6px;
        margin-top: -6px;

        .Loading {
          background: transparent;

          .Loader {
            background: rgba(168, 125, 243, 0.33);
          }
        }
      }

      .three-dot {
        position: absolute;
        width: 19px;
        height: 3px;
        padding: 10px 0;
        background-image: url('../../assets/images/3-dot.png');
      }
    }
  }
}

button > div > span {
  color: #9166ed;
}