.TableGroup {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1024px) {
    flex-direction: column;
  }

  .TableWrapper {
    width: calc(50% - 10px);
    padding: 30px 0 0;
    box-sizing: border-box;
    border: 1px solid #E6EAEE;
    border-radius: 3.4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 43px;
    @media (max-width: 1024px) {
      width: 90%;
      margin: 0 5% 1em;
      padding-top: 20px;
    }
  }
}
