@font-face {
  font-family: 'Sfprotext';
  src: url('assets/fonts/SFProText-RegularItalic.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Sfprotext';
  src: url('assets/fonts/SFProText-Regular.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Sfprotext';
  src: url('assets/fonts/SFProText-Semibold.eot') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Sfprotext';
  src: url('assets/fonts/SFProText-Medium.eot') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Sfprotext';
  src: url('assets/fonts/SFProText-Bold.eot') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Sfprodisplay';
  src: url('assets/fonts/SFProDisplay-Light.eot') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Sfprodisplay';
  src: url('assets/fonts/SFProDisplay-Ultralight.eot') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Sfprodisplay';
  src: url('assets/fonts/SFProDisplay-Thin.eot') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir book';
  src: url('assets/fonts/Avenir-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
