.ListGroup {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1024px) {
    flex-direction: column;
    margin-bottom: 0 !important;
  }

  .ListWrapper {
    width: calc(50% - 10px);
    padding: 15px 0 0;
    box-sizing: border-box;
    margin-bottom: 43px;
    @media (max-width: 1024px) {
      width: 90%;
      margin: 0 5% 1em;
      padding-top: 0;
    }
  }
}
