.DesktopWrapper {
  background-image: linear-gradient(30deg, rgba(115, 75, 212, .9), rgba(159, 117, 235, .9)), url('../../../assets/images/Back.svg'), linear-gradient(30deg, #734bd4, #a075eb);
  background-position: 0 0px, 50% 50%, 0 0;
  background-size: auto, contain, auto;
  background-repeat: repeat, no-repeat, repeat;
  height: 100vh;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: Sfprodisplay, sans-serif;

  .Desktop {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    width: 80%;

    font-size: 18px;
    line-height: 22px;
  }

  img {
    margin-bottom: 35px;
    width: 340px;
    max-width: 80%;

    &.DesktopImg {
      display: block;
      margin: 35px auto 0;
      width: auto;
    }
  }

  p {
    color: rgba(255, 255, 255, 0.53);
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
    margin-top: 15px;

    b:not(.Light) {
      color: rgba(255, 255, 255, 0.75);
    }
  }

  a {
    color: #3b1f7e;
    font-weight: 300;

    &:hover {
      color: #22114d;
      text-decoration: none;
    }
  }
}
